<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/Loginpage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="login-form">
      <h2 class="title">Login to your account</h2>
      <br />
      <form class="" action="#" method="post">
        <input
          type="email"
          name="user"
          value=""
          placeholder="Enter your Email"
        />

        <input
          type="password"
          name="password"
          value=""
          placeholder="Enter your password"
        />
        <button type="submit" class="logbtn">Login</button>
      </form>
    </div>
  </body>
</html>
