
:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
    --yellow: tomato;
    --border:.1rem solid red;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
    scroll-behavior: smooth;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}

*::selection{
    background:var(--yellow);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    /* height:200rem; */
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

section{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top: 8.5rem;
}

.btn{
    font-size: 2rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color:#333;
    cursor: pointer;
    border:.2rem solid var(--yellow);
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    font-size: 4rem;
    padding:0 .5rem;
    color:#333;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:#fff;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-icon{
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 25px;
}

.logo{
    font-size: 3rem;
    color: tomato;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color:#666;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--yellow);
}

header #menu-bar{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}


.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.gallery .box-container .box{
    height:20rem;
    width:30rem;
    margin:2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 15%;
}

.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.gallery .box-container .box h3{
    position: absolute;
    top:100%; left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}

.gallery .box-container .box:hover h3{
    top:50%;
    opacity: 1;
    transition-delay: .2s;
}

.gallery .box-container .box::before{
    content: '';
    position: absolute;
    top:-100%; left:0;
    height:100%;
    width: 100%;
    background:rgba(0,0,0,.7);
    transition:.2s linear;
}

.gallery .box-container .box:hover::before{
    top:0;
}






/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .home::before,
    .home::after{
        display: none;
    }

}

@media (max-width:768px){


    header #menu-bar{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:0;
        width:100%;
        background:var(--yellow);
        border-top: .2rem solid rgba(0,0,0,.1);
        transform:scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        margin:1.5rem;
        width: 100%;
    }

    header .navbar ul li a{
        display: block;
        color:#fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }

    header .navbar ul li a:hover,
    header .navbar ul li a.active{
        color:#333;
        border-color: #333;
    }

    .fa-times{
        transform:rotate(180deg);
    }

    header .navbar.nav-toggle{
        transform:scaleY(1);
        opacity: 1;
    }

   
}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:1rem 5%;
        padding-top: 8.5rem;
    }
}




.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;

}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.cart-product-title{
    font-size: 1.5rem;
    text-transform: uppercase;
} 
.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}



.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover{
    background-color: var(--text-color);
}

.btn-buy2{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy2:hover{
    background-color: var(--text-color);
}

.buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.buy:hover{
    background-color: var(--text-color);
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: solid 1px var(--text-color);
}

.total-title{
    font-size: 2rem;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
    font-size: 2rem;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

section{
    padding: 5rem 0 3rem;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 3rem;
}
.product-box{
    position: relative;
}

.product-box p{
    font-size: 1.3rem;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price{
    font-weight: 500;
    font-size: 1.5rem;
}


.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
    font-size: 1.8rem;
}

.add-cart:hover{
    background: hsl(249,32%, 17%);
}

.cart-product-title{
    font-size: 1rem;
}


.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    padding-left: 40px;
    padding-right: 40px;
}

.products .box-container .box{
    text-align: center;
    border: solid 1px black;
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color: tomato;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background: var(--bg-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image:hover{
    padding: 10px;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color: black;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:black;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}


.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    padding-left: 30px;
    padding-right: 30px;
}

.review .box-container .box{
    border: solid 1px black;
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: grey;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:black;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}
